.bg_bug {
  background-color: #9f9f28;
}

.bg_dark {
  background-color: #4f4747;
}

.bg_dragon {
  background-color: #576fbc;
}

.bg_electric {
  background-color: #dfbc28;
}

.bg_fairy {
  background-color: #e18ce1;
}

.bg_fighting {
  background-color: #e49021;
}

.bg_fire {
  background-color: #e4613e;
}

.bg_flying {
  background-color: #74aad0;
}

.bg_ghost {
  background-color: #6f4570;
}

.bg_grass {
  background-color: #439837;
}

.bg_ground {
  background-color: #a4733c;
}

.bg_ice {
  background-color: #47c8c8;
}

.bg_normal {
  background-color: #828282;
}

.bg_poison {
  background-color: #9354cb;
}

.bg_psychic {
  background-color: #e96c8c;
}

.bg_rock {
  background-color: #a9a481;
}

.bg_steel {
  background-color: #74b0cb;
}

.bg_water {
  background-color: #3099e1;
}
