* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.customHeight {
  height: 80px;
}

.fullWidth {
  width: 100%;
}

.hidden {
  display: none;
}

/* Verhindert Scrollen */
.no-scroll {
  overflow: hidden;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.pokemonCard {
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 370px;
  width: 200px;
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pokemonCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.pokemonCard h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 0 !important;
  text-transform: capitalize;
}

.pokemonImg {
  width: 100%;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.type-icon {
  width: 40px;
  height: auto;
}

.typeDescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: black;
  margin: 0;
}

.detailedPokemonCardWrapper {
  width: 550px;
  height: 100%;
  background-color: #ffffff;
  color: black;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  border-radius: 32px;
  gap: 12px;
}
.closeButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nameAndPkmNumber {
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nameAndPkmNumber > h2 {
  font-size: 38px;
  margin: 0;
}

.nameAndPkmNumber > p {
  margin: 0;
}

.pkmTypes {
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.pkmTypes > P {
  padding: 4px 10px;
  border: 1px solid gray;
  border-radius: 12px;
  margin: 0;
}

.pkmDetails {
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.pkmDetails > p {
  margin: 0;
}

.pkmImage > img {
  width: 250px;
  height: auto;
}

.detailedPkmImage > img {
  width: 250px;
  height: auto;
}

.detailedPkmInformation {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detailedPkmInformation > a {
  color: #000;
  margin: 0;
}

.detailedPkmInformation > a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.informationBox {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.informationBox > p {
  color: #000;
  margin: 0;
}

.informationBox > h5 {
  margin: 0;
}

.baseStats {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  padding: 16px 0px;
}

.baseStats > p {
  color: #000;
  margin: 0;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 16px;
}

.stats > p {
  margin: 0;
}

.skipButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.skipButtons > a:hover {
  cursor: pointer;
}

.closeButtonContainer > a:hover {
  cursor: pointer;
}

.aboutSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px 0px;
}

.shinyPokemon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailedPkmImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
