* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.customHeight {
  height: 80px;
}

.fullWidth {
  width: 100%;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
